body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #CED7DC; /* grey */
}

a {
  color: #4B5D65  !important;
}




/* header */

.header {
  background-color: #CED7DC; /* grey */
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #CED7DC; /* grey */
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #CED7DC; /* grey */
  text-decoration: none;
}



.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon{
  background: #fff !important;
}

.header .menu-icon .navicon {
  background: #CED7DC;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #CED7DC;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.my_img{
    width: 100%;
    height: auto; 
  }

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
.my_img{
    width: 100%;
    height: auto; 
  }

/* Main Body */


.txtspace {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hide{
    background-color: white !important;
}

.destext {
  font-size: 500%;
}

.imagelogo{
  width: 200px;
  padding: 20px;
}

.margz{
  margin-bottom: 30px;
}

.titlemargin{
 padding: 50px;
}

.testmarg{
  margin-top: 100px;
  margin-bottom: 100px;
}

.marg1{
  margin-bottom: 100px;
  margin-top: 100px;
}

.marga{
  margin-bottom: 129px;
  margin-top: 100px;
}

.margc{
  margin-bottom: 105px;
  margin-top: 100px;
}



.marg2{
  margin-bottom: 400px;
  margin-top: 550px;
}

.marg3{
  margin-bottom: 50px;
  margin-top: 150px;
}

html{scroll-behavior: smooth;}

.menu-btn{
color: red;
}


/* footer */


.footer-clean {
  padding:50px 0;
  background-color: #CED7DC;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4b4c4d;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff; /* white */
  text-align: center;
  border-radius: 6px;
  padding: 30px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; /* grey */
  color: #4b4c4d;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.poplink{
  color: #4b4c4d !important;
}

#largeImgPanel {
text-align: center;
visibility: hidden;
position: fixed;
z-index: 100;
top: 0; left: 0; 
width:100%;
height:100%; 
background-color: rgba(100,100,100, 0.5); /* grey */
}








.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000; /* black */
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardlink {
  text-decoration: none;
  font-size: 22px;
  color: white;
  background-color: #4B5D65; /* blue / grey */
}

button:hover, a:hover {
  opacity: 0.7;
}

.cardpad{
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgpad{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* pop up stlying */

/* Modal Header */
.modal-header1 {
  padding: 8px 16px;
  background-color: #4B5D65;
  color: white;
}
 
/* Modal Footer */
.modal-footer1 {
  padding: 2px 16px;
  background-color: #4B5D65;
  color: white;
}

.btncolor {
  background-color: #4B5D65;
}

.modal{
  width: 100%  !important;
  padding-left: 20%  !important;
  padding-right: 20%  !important;
  padding-top: 10% !important;
}




.hidetext {
  color: white;
}

.contbreaker {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* About Card Styling */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

/*slider*/

.slidermargin {
  margin-top: 100px;
}

.desphotos {
  width: 100%;
  position: relative;
  float: right;
  margin-right: 5%;
}

.phtpad{
  margin-top: 50px;
  margin-bottom: 50px;
}

.widehead{
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  font-size-adjust: 100px;
}

.contabout{
  width: 100%;
}

.floatright{
  float: right;
}

.floatleft{
  float: left;
}

.footsep{
margin-top: 1000px;
margin-bottom: 1000px;
}

.bighead{
  font-size: 100px;
}

.movementspacing{
  margin-top: 50px;
  margin-bottom: 3000px;
}

